@model IEnumerable<SharedLibrary.TriggerModel>
@{
    ViewData["title"] = "Commander";
    if (ViewBag.IsNotActive != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Trigger is not active</strong> 
        </div>
        
        <script>
          $(".alert").alert();
        </script>
    }
    if (ViewBag.message != null)
    {
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">@ViewBag.message</h4>
          <p></p>
          <p class="mb-0"></p>
        </div>
    }
}
<ul>
    @foreach (var item in Model.OrderBy(t => t.Position))
    {
        <li>
            <div>
                <h4>@item.Title</h4>
                <i>@item.Description</i>
                <a asp-route-id="@item.Id" asp-action="ExecuteOne">Run</a>
            </div>
        </li>
        
    }
</ul>
<a asp-action="ExecuteAll">Run all</a>