@model SharedLibrary.ActionModel;
@{
    ViewData["title"] = "Delete action";
}

<div class="container">
    <form>
        <div class="form-group row">
            <label asp-for="Type" class="col-sm-1-12 col-form-label">Type</label>
            <div class="col-sm-1-12">
                <input asp-for="Type" type="text" class="form-control" name="Type" id="Type" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Value" class="col-sm-1-12 col-form-label">Value</label>
            <div class="col-sm-1-12">
                <input asp-for="Value" type="text" class="form-control" name="Value" id="Value" placeholder="">
            </div>
        </div>
    </form>
</div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div>
        <button value="delete" type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Action">Back to list</a>
    </div>
}