@model SharedLibrary.MetadataModel;
@{
    ViewData["title"] = "Detail metadata";
}
<h4>The following Metadata has been removed</h4>
<div class="form-group">
  <label asp-for="Table">Table</label>
  <input asp-for="Table" type="text" name="Table" class="form-control" placeholder="" aria-describedby="helpId">
  <small id="helpId" class="text-muted">Help text</small>
</div>
<div class="form-group">
  <label asp-for="Field">Field</label>
  <input asp-for="Field" type="text" name="Field" class="form-control" placeholder="" aria-describedby="helpId">
  <small id="helpId" class="text-muted">Help text</small>
</div>
<div class="form-group">
  <label asp-for="Type">Type</label>
  <input asp-for="Type" type="text" name="Type" id="Type" class="form-control" placeholder="" aria-describedby="helpId">
  <small id="helpId" class="text-muted">Help text</small>
</div>
<a asp-action="Metadata">Back to metadata page</a>