@model SharedLibrary.ConditionModel;
@{
    ViewData["title"] = "Detail condition";
}
@if (ViewBag.del)
{
  <h4>The following condition has been removed</h4>
    
}
<h4>Condition</h4>
<div class="form-group">
  <label asp-for="Operator">Operator</label>
  <input asp-for="Operator" type="text" name="Operator" class="form-control" placeholder="" aria-describedby="helpId">
  <small id="helpId" class="text-muted">Help text</small>
</div>
<div class="form-group">
  <label asp-for="Threshold">Threshold</label>
  <input asp-for="Threshold" type="text" name="Threshold" class="form-control" placeholder="" aria-describedby="helpId">
  <small id="helpId" class="text-muted">Help text</small>
</div>
<div class="form-group">
  <label asp-for="Type">Type</label>
  <input asp-for="Type" type="text" name="Type" id="Type" class="form-control" placeholder="" aria-describedby="helpId">
  <small id="helpId" class="text-muted">Help text</small>
</div>
@if (Model.MetaData != null)
{
  var item = Model.MetaData;
  <p>Metadata</p>
  <p>-Field: @item.Field</p>
  <p>-Type: @item.Type</p>
  <p>-Table: @item.Table</p>  
}
<a asp-action="Condition">Back to condition page</a>